POSTGRES_PRISMA_URL="postgres://postgres:postgres@localhost:5432/postgres?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://postgres:postgres@localhost:5432/postgres"

KV_REST_API_READ_ONLY_TOKEN="example_token"
KV_REST_API_TOKEN="example_token"
KV_REST_API_URL=""
KV_URL=""