@layer theme {
  :root {
    /* Used for relative color values */
    --base-hue: 281;

    --background: 97% 0.001 var(--base-hue);
    --foreground: 10% 0.22 var(--base-hue);

    /* "Brand" */
    --primary: 34% 0.2 var(--base-hue);
    --primary-foreground: var(--white);

    /* For visual emphasis */
    --accent-hue: calc(var(--base-hue) - 30);
    --accent: 50% 0.22 var(--accent-hue);
    --accent-foreground: var(--white);

    --link: var(--accent);

    --muted: 95% 0.001 var(--base-hue);
    --muted-foreground: 70% 0.01 var(--base-hue);

    --destructive: var(--tomato);
    --destructive-foreground: var(--white);

    --warning: var(--neon-carrot);
    --warning-foreground: var(--white);

    --info: var(--cerulean-blue);
    --info-foreground: var(--white);

    --success: 51% 0.15 171;
    --success-foreground: var(--white);

    --border-radius: 1.75rem;
    --border-color: 90% 0.01 var(--base-hue);

    --overlay: 10% 0.075 var(--base-hue);

    /* Surfaces */
    /* Surface 0 is for foreground elements, Cards, etc. */
    --surface-0: var(--white);
    --surface-0-foreground: var(--foreground);

    --surface-1: 94% 0.005 var(--base-hue);
    --surface-1-foreground: var(--foreground);
    --surface-2: 91.5% 0.01 var(--base-hue);
    --surface-2-foreground: var(--foreground);
    --surface-3: 88% 0.015 var(--base-hue);
    --surface-3-foreground: var(--foreground);
    --surface-4: 85% 0.019 var(--base-hue);
    --surface-4-foreground: var(--foreground);

    /* Focus ring */
    --ring: var(--mustard);

    --input: var(--white);
    --input-foreground: var(--cyber-grape);

    /* Sequences */
    --seq-node-1: var(--neon-coral);
    --seq-node-1-foreground: var(--white);
    --seq-node-2: var(--sea-serpent);
    --seq-node-2-foreground: var(--white);
    --seq-node-3: var(--purple-pizzazz);
    --seq-node-3-foreground: var(--white);
    --seq-node-4: var(--neon-carrot);
    --seq-node-4-foreground: var(--white);
    --seq-node-5: var(--kiwi);
    --seq-node-5-foreground: var(--white);
    --seq-node-6: var(--cerulean-blue);
    --seq-node-6-foreground: var(--white);
    --seq-node-7: var(--paradise-pink);
    --seq-node-7-foreground: var(--white);
    --seq-node-8: var(--mustard);
    --seq-node-8-foreground: var(--white);

    --seq-edge-1: var(--mustard);
    --seq-edge-2: var(--purple-pizzazz);
    --seq-edge-3: var(--neon-coral);
    --seq-edge-4: var(--kiwi);
    --seq-edge-5: var(--paradise-pink);
    --seq-edge-6: var(--tomato);
    --seq-edge-7: var(--sea-serpent);
    --seq-edge-8: var(--slate-blue);
    --seq-edge-9: var(--sea-green);
    --seq-edge-10: var(--cerulean-blue);

    --seq-ord-1: var(--sea-green);
    --seq-ord-2: var(--sea-serpent);
    --seq-ord-3: var(--tomato);
    --seq-ord-4: var(--neon-carrot);
    --seq-ord-5: var(--kiwi);
    --seq-ord-6: var(--cerulean-blue);
    --seq-ord-7: var(--paradise-pink);
    --seq-ord-8: var(--mustard);

    /* used by categorical and convex hulls */
    --seq-cat-1: var(--sea-serpent);
    --seq-cat-2: var(--purple-pizzazz);
    --seq-cat-3: var(--mustard);
    --seq-cat-4: var(--paradise-pink);
    --seq-cat-5: var(--kiwi);
    --seq-cat-6: var(--cerulean-blue);
    --seq-cat-7: var(--neon-carrot);
    --seq-cat-8: var(--barbie-pink);
    --seq-cat-9: var(--tomato);
    --seq-cat-10: var(--slate-blue);

    --seq-panel-1: var(--sea-green);
    --seq-panel-2: var(--sea-serpent);
  }

  /** 
    The dark interview theme has purple background with light text.
  */
  [data-theme='dark'] {
    --background: 19% 0.03 var(--base-hue);
    --foreground: 97% 0.001 var(--base-hue);

    /* Reduce chroma for better contrast */
    --primary: 34% 0.15 var(--base-hue);
    --accent: 50% 0.15 var(--accent-hue);

    --muted-foreground: 40% 0.01 var(--base-hue);

    --link: 65% 0.15 var(--accent-hue);

    --border-color: 33% 0.01 var(--base-hue);

    --input: var(--background);
    --input-foreground: var(--foreground);

    /* Surfaces */
    --surface-0: var(--background);
    --surface-0-foreground: var(--foreground);

    --surface-1: 26% 0.03 var(--base-hue);
    --surface-1-foreground: var(--foreground);
    --surface-2: 30% 0.03 var(--base-hue);
    --surface-2-foreground: var(--foreground);
    --surface-3: 33% 0.03 var(--base-hue);
    --surface-3-foreground: var(--foreground);
    --surface-4: 36% 0.03 var(--base-hue);
    --surface-4-foreground: var(--foreground);
  }
}
