@import 'tailwindcss';

@layer base {
  :root {
    --white: oklch(0 0% 100%);
    --black: oklch(0 0% 0%);

    --theme-hue: 276;
    --theme-hue-offset: 90;

    --primary-lightness: 58%;
    --primary-chroma: 0.24;

    --background-lightness: 95%;
    --background-chroma: 0.007;
  }
}

@theme {
  /* Colors */

  --color-transparent: transparent;

  --color-background: oklch(
    var(--background-lightness) var(--background-chroma) var(--theme-hue)
  );

  --color-primary: oklch(
    var(--primary-lightness) var(--primary-chroma) var(--theme-hue)
  );

  --color-primary-foreground: color-mix(
    in oklch,
    var(--color-primary),
    white 90%
  );

  --color-foreground: color-mix(in oklch, var(--color-primary), black 60%);

  --color-secondary: oklch(
    var(--primary-lightness) var(--primary-chroma)
      calc(var(--theme-hue) + var(--theme-hue-offset))
  );

  --color-secondary-foreground: color-mix(
    in oklch,
    var(--color-secondary),
    white 90%
  );

  --color-accent: oklch(
    var(--primary-lightness) var(--primary-chroma)
      calc(var(--theme-hue) + (var(--theme-hue-offset) * 2))
  );

  --color-border: color-mix(in oklch, var(--color-background), black 10%);
}

@layer base {
  html,
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
