@layer base {
  // OKLCH is:
  // L - Lightness (0-100)
  // C - Chroma (0-?) - upper limit depends on H and L
  // H - Hue (0-360) - Color

  :root {
    --mix-color: white;
    --mix-color-dark: black;

    @media (prefers-color-scheme: dark) {
      --mix-color: black;
      --mix-color-dark: white;
    }

    // lightness values are hand selected
    --lightness-50: 97.78%;
    --lightness-100: 93.56%;
    --lightness-200: 88.11%;
    --lightness-300: 82.67%;
    --lightness-400: 74.22%;
    --lightness-500: 64.78%;
    --lightness-600: 57.33%;
    --lightness-700: 46.89%;
    --lightness-800: 39.44%;
    --lightness-900: 32%;
    --lightness-950: 23.78%;

    --primary-hue: 283;
    --primary-50: oklch(var(--lightness-50) 0.0114 var(--primary-hue));
    --primary-100: oklch(var(--lightness-100) 0.0348 var(--primary-hue));
    --primary-200: oklch(var(--lightness-200) 0.0652 var(--primary-hue));
    --primary-300: oklch(var(--lightness-300) 0.0973 var(--primary-hue));
    --primary-400: oklch(var(--lightness-400) 0.149 var(--primary-hue));
    --primary-500: oklch(var(--lightness-500) 0.21 var(--primary-hue));
    --primary-600: oklch(var(--lightness-600) 0.2606 var(--primary-hue));
    --primary-700: oklch(var(--lightness-700) 0.2823 var(--primary-hue));
    --primary-800: oklch(var(--lightness-800) 0.2372 var(--primary-hue));
    --primary-900: oklch(var(--lightness-900) 0.1953 var(--primary-hue));
    --primary-950: oklch(var(--lightness-950) 0.1431 var(--primary-hue));

    // Background is calculated by mixing primary with mix-color
    --background: color-mix(in oklab, var(--primary-500) 10%, var(--mix-color));

    --background-foreground: color-mix(
      in oklch,
      var(--primary-500) 10%,
      var(--mix-color-dark)
    );

    --secondary-hue: calc(var(--primary-hue) + 45); // 103
    --secondary-50: oklch(var(--lightness-50) 0.0114 var(--secondary-hue));
    --secondary-100: oklch(var(--lightness-100) 0.0348 var(--secondary-hue));
    --secondary-200: oklch(var(--lightness-200) 0.0652 var(--secondary-hue));
    --secondary-300: oklch(var(--lightness-300) 0.0973 var(--secondary-hue));
    --secondary-400: oklch(var(--lightness-400) 0.149 var(--secondary-hue));
    --secondary-500: oklch(var(--lightness-500) 0.21 var(--secondary-hue));
    --secondary-600: oklch(var(--lightness-600) 0.2606 var(--secondary-hue));
    --secondary-700: oklch(var(--lightness-700) 0.2823 var(--secondary-hue));
    --secondary-800: oklch(var(--lightness-800) 0.2372 var(--secondary-hue));
    --secondary-900: oklch(var(--lightness-900) 0.1953 var(--secondary-hue));
    --secondary-950: oklch(var(--lightness-950) 0.1431 var(--secondary-hue));

    --tertiary-hue: calc(var(--primary-hue) + 30);
    --tertiary-50: oklch(var(--lightness-50) 0.0114 var(--tertiary-hue));
    --tertiary-100: oklch(var(--lightness-100) 0.0348 var(--tertiary-hue));
    --tertiary-200: oklch(var(--lightness-200) 0.0652 var(--tertiary-hue));
    --tertiary-300: oklch(var(--lightness-300) 0.0973 var(--tertiary-hue));
    --tertiary-400: oklch(var(--lightness-400) 0.149 var(--tertiary-hue));
    --tertiary-500: oklch(var(--lightness-500) 0.21 var(--tertiary-hue));
    --tertiary-600: oklch(var(--lightness-600) 0.2606 var(--tertiary-hue));
    --tertiary-700: oklch(var(--lightness-700) 0.2823 var(--tertiary-hue));
    --tertiary-800: oklch(var(--lightness-800) 0.2372 var(--tertiary-hue));
    --tertiary-900: oklch(var(--lightness-900) 0.1953 var(--tertiary-hue));
    --tertiary-950: oklch(var(--lightness-950) 0.1431 var(--tertiary-hue));

    // Surface should be based on background color, and using color-mix to add
    // in either black or white (depending on the light/dark mode).
    //
    // Nested surfaces should **set** background to their surface color!

    --surface: color-mix(in oklab, var(--primary-500) 15%, var(--mix-color));

    --success: oklch(0.78 0.24 138);
    --success-foreground: color-mix(
      in oklch,
      var(--success) 10%,
      var(--mix-color-dark)
    );

    --danger: oklch(0.63 0.25 29.8);
    --danger-foreground: color-mix(
      in oklch,
      var(--danger) 10%,
      var(--mix-color)
    );
  }
}
