@layer base {
  :root {
    --base-hue: 281;

    --background: var(--navy-taupe);
    --foreground: var(--white);

    --primary: var(--slate-blue);
    --primary-foreground: var(--white);

    /* Surfaces */
    --surface-0: var(--white);
    --surface-0-foreground: var(--charcoal);

    --surface-1: 31% 0.09 var(--base-hue);
    --surface-1-foreground: var(--foreground);
    --surface-2: 34% 0.09 var(--base-hue);
    --surface-2-foreground: var(--foreground);
    --surface-3: 37% 0.09 var(--base-hue);
    --surface-3-foreground: var(--foreground);
    --surface-4: 40% 0.09 var(--base-hue);
    --surface-4-foreground: var(--foreground);

    --input: var(--white);
    --input-foreground: var(--charcoal);

    --accent: var(--neon-coral);

    --success: var(--sea-green);
    --success-foreground: var(--white);

    --muted: var(--platinum);

    --border-radius: 1.25rem;

    /* Sequences */

    --seq-node-1: var(--neon-coral);
    --seq-node-2: var(--seq-serpent);
    --seq-node-3: var(--purple-pizzazz);
    --seq-node-4: var(--neon-carrot);
    --seq-node-5: var(--kiwi);
    --seq-node-6: var(--cerulean-blue);
    --seq-node-7: var(--paradise-pink);
    --seq-node-8: var(--mustard);

    --seq-edge-1: var(--mustard);
    --seq-edge-2: var(--purple-pizzazz);
    --seq-edge-3: var(--neon-coral);
    --seq-edge-4: var(--kiwi);
    --seq-edge-5: var(--paradise-pink);
    --seq-edge-6: var(--tomato);
    --seq-edge-7: var(--sea-serpent);
    --seq-edge-8: var(--slate-blue);
    --seq-edge-9: var(--sea-green);
    --seq-edge-10: var(--cerulean-blue);

    --seq-ord-1: var(--sea-green);
    --seq-ord-2: var(--sea-serpent);
    --seq-ord-3: var(--tomato);
    --seq-ord-4: var(--neon-carrot);
    --seq-ord-5: var(--kiwi);
    --seq-ord-6: var(--cerulean-blue);
    --seq-ord-7: var(--paradise-pink);
    --seq-ord-8: var(--mustard);

    /* used by categorical and convex hulls */
    --seq-cat-1: var(--sea-serpent);
    --seq-cat-2: var(--purple-pizzazz);
    --seq-cat-3: var(--mustard);
    --seq-cat-4: var(--paradise-pink);
    --seq-cat-5: var(--kiwi);
    --seq-cat-6: var(--cerulean-blue);
    --seq-cat-7: var(--neon-carrot);
    --seq-cat-8: var(--barbie-pink);
    --seq-cat-9: var(--tomato);
    --seq-cat-10: var(--slate-blue);

    --seq-panel-1: var(--sea-green);
    --seq-panel-2: var(--sea-serpent);
  }
}
