@layer base {
  :root {
    --background: var(--navy-taupe);
    --foreground: var(--white);

    --primary: var(--neon-coral);
    --primary-foreground: var(--white);

    --surface-1-bg: var(--cyber-grape);

    --accent: var(--sea-green);
    --muted: var(--platinum);
  }
}
