@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors-oklch.css';

@layer base {
  :root {
    /* https://www.fluid-type-scale.com/calculate?minFontSize=14&minWidth=400&minRatio=1.25&maxFontSize=18&maxWidth=1920&maxRatio=1.25&steps=sm%2Cbase%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl%2C6xl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=400 */
    --font-size-xs: clamp(0.64rem, 0.17cqi + 0.76rem, 0.71rem);
    --font-size-sm: clamp(0.8rem, 0.17cqi + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34cqi + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.25rem, 0.61cqi + 1.1rem, 1.58rem);
    --font-size-xl: clamp(1.56rem, 1cqi + 1.31rem, 2.11rem);
    --font-size-2xl: clamp(1.95rem, 1.56cqi + 1.56rem, 2.81rem);
    --font-size-3xl: clamp(2.44rem, 2.38cqi + 1.85rem, 3.75rem);
    --font-size-4xl: clamp(3.05rem, 3.54cqi + 2.17rem, 5rem);
    --font-size-5xl: clamp(3.81rem, 5.18cqi + 2.52rem, 6.66rem);
    --font-size-6xl: clamp(4.77rem, 7.48cqi + 2.9rem, 8.88rem);
  }

  * {
    @apply border-border;
  }

  strong {
    @apply font-extrabold;
  }

  em {
    @apply italic;
  }

  body {
    @apply text-base;
  }
}

@layer components {
  .focusable {
    @apply ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent focus-visible:ring-offset-2;
  }
}

.drag-handle {
  position: fixed;
  opacity: 1;
  transition: opacity ease-in 0.2s;
  border-radius: 0.25rem;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' style='fill: rgba(0, 0, 0, 0.5)'%3E%3Cpath d='M3,2 C2.44771525,2 2,1.55228475 2,1 C2,0.44771525 2.44771525,0 3,0 C3.55228475,0 4,0.44771525 4,1 C4,1.55228475 3.55228475,2 3,2 Z M3,6 C2.44771525,6 2,5.55228475 2,5 C2,4.44771525 2.44771525,4 3,4 C3.55228475,4 4,4.44771525 4,5 C4,5.55228475 3.55228475,6 3,6 Z M3,10 C2.44771525,10 2,9.55228475 2,9 C2,8.44771525 2.44771525,8 3,8 C3.55228475,8 4,8.44771525 4,9 C4,9.55228475 3.55228475,10 3,10 Z M7,2 C6.44771525,2 6,1.55228475 6,1 C6,0.44771525 6.44771525,0 7,0 C7.55228475,0 8,0.44771525 8,1 C8,1.55228475 7.55228475,2 7,2 Z M7,6 C6.44771525,6 6,5.55228475 6,5 C6,4.44771525 6.44771525,4 7,4 C7.55228475,4 8,4.44771525 8,5 C8,5.55228475 7.55228475,6 7,6 Z M7,10 C6.44771525,10 6,9.55228475 6,9 C6,8.44771525 6.44771525,8 7,8 C7.55228475,8 8,8.44771525 8,9 C8,9.55228475 7.55228475,10 7,10 Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: calc(0.5em + 0.375rem) calc(0.5em + 0.375rem);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.2rem;
  height: 1.5rem;
  z-index: 50;
  cursor: grab;

  &:hover {
    background-color: red;
    transition: background-color 0.2s;
  }

  &:active {
    background-color: green;
    transition: background-color 0.2s;
    cursor: grabbing;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
