@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors-oklch.css';

@layer base {
  :root {
    --font-family-heading: 'Lexend', sans-serif;
    --font-family-body: 'Lexend', sans-serif;

    /* https://www.fluid-type-scale.com/calculate?minFontSize=14&minWidth=400&minRatio=1.25&maxFontSize=18&maxWidth=1920&maxRatio=1.25&steps=sm%2Cbase%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl%2C6xl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=400 */
    --font-size-xs: clamp(0.64rem, 0.17cqi + 0.76rem, 0.71rem);
    --font-size-sm: clamp(0.8rem, 0.17cqi + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34cqi + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.25rem, 0.61cqi + 1.1rem, 1.58rem);
    --font-size-xl: clamp(1.56rem, 1cqi + 1.31rem, 2.11rem);
    --font-size-2xl: clamp(1.95rem, 1.56cqi + 1.56rem, 2.81rem);
    --font-size-3xl: clamp(2.44rem, 2.38cqi + 1.85rem, 3.75rem);
    --font-size-4xl: clamp(3.05rem, 3.54cqi + 2.17rem, 5rem);
    --font-size-5xl: clamp(3.81rem, 5.18cqi + 2.52rem, 6.66rem);
    --font-size-6xl: clamp(4.77rem, 7.48cqi + 2.9rem, 8.88rem);
  }

  * {
    @apply border-border;
  }

  strong {
    @apply font-extrabold;
  }

  em {
    @apply italic;
  }

  body {
    @apply text-base;
  }
}

@layer theme {
  :root {
    /* Used for relative color values */
    --base-hue: 281;

    --background: 97% 0.001 var(--base-hue);
    --foreground: 20% 0.1 var(--base-hue);

    /* "Brand" */
    --primary: 34% 0.2 var(--base-hue);
    --primary-foreground: var(--white);

    --secondary: 50% 0.1 var(--base-hue);
    --secondary-foreground: var(--foreground);

    /* For visual emphasis */
    --accent-hue: calc(var(--base-hue) - 30);
    --accent: 55% 0.2 var(--accent-hue);
    --accent-foreground: var(--white);

    --muted: 95% 0.001 var(--base-hue);
    --muted-foreground: 40% 0.1 var(--base-hue);

    --destructive: var(--tomato);
    --destructive-foreground: var(--white);

    --warning: var(--neon-carrot);
    --warning-foreground: var(--white);

    --info: var(--cerulean-blue);
    --info-foreground: var(--white);

    --success: 51% 0.15 171;
    --success-foreground: var(--white);

    --border-radius: 1.75rem;
    --border-color: 90% 0.01 var(--base-hue);

    --link: var(--neon-coral);

    --overlay: 13% 0.1 var(--base-hue);

    /* Surfaces */
    --surface-1-bg: 93% 0.005 var(--base-hue);
    --surface-1-fg: var(--foreground);
    --surface-2-bg: 90% 0.01 var(--base-hue);
    --surface-2-fg: var(--foreground);
    --surface-3-bg: 87% 0.02 var(--base-hue);
    --surface-3-fg: var(--foreground);
    --surface-4-bg: 84% 0.04 var(--base-hue);
    --surface-4-fg: var(--foreground);

    --card: var(--surface-2-bg);
    --card-foreground: var(--surface-2-fg);

    /* Focus ring */
    --ring: var(--mustard);

    --input: var(--white);
    --input-foreground: var(--cyber-grape);

    /* Sequences */

    --seq-node-1: var(--neon-coral);
    --seq-node-2: var(--seq-serpent);
    --seq-node-3: var(--purple-pizzazz);
    --seq-node-4: var(--neon-carrot);
    --seq-node-5: var(--kiwi);
    --seq-node-6: var(--cerulean-blue);
    --seq-node-7: var(--paradise-pink);
    --seq-node-8: var(--mustard);

    --seq-edge-1: var(--mustard);
    --seq-edge-2: var(--purple-pizzazz);
    --seq-edge-3: var(--neon-coral);
    --seq-edge-4: var(--kiwi);
    --seq-edge-5: var(--paradise-pink);
    --seq-edge-6: var(--tomato);
    --seq-edge-7: var(--sea-serpent);
    --seq-edge-8: var(--slate-blue);
    --seq-edge-9: var(--sea-green);
    --seq-edge-10: var(--cerulean-blue);

    --seq-ord-1: var(--sea-green);
    --seq-ord-2: var(--sea-serpent);
    --seq-ord-3: var(--tomato);
    --seq-ord-4: var(--neon-carrot);
    --seq-ord-5: var(--kiwi);
    --seq-ord-6: var(--cerulean-blue);
    --seq-ord-7: var(--paradise-pink);
    --seq-ord-8: var(--mustard);

    /* used by categorical and convex hulls */
    --seq-cat-1: var(--sea-serpent);
    --seq-cat-2: var(--purple-pizzazz);
    --seq-cat-3: var(--mustard);
    --seq-cat-4: var(--paradise-pink);
    --seq-cat-5: var(--kiwi);
    --seq-cat-6: var(--cerulean-blue);
    --seq-cat-7: var(--neon-carrot);
    --seq-cat-8: var(--barbie-pink);
    --seq-cat-9: var(--tomato);
    --seq-cat-10: var(--slate-blue);

    --seq-panel-1: var(--sea-green);
    --seq-panel-2: var(--sea-serpent);
  }

  [data-theme='dark'] {
    --background: 13% 0.1 var(--base-hue);
    --foreground: 97% 0.001 var(--base-hue);

    --primary: 40% 0.2 var(--base-hue);
    --secondary: 100% 0.1 var(--base-hue);

    --border-color: 28% 0.1 var(--base-hue);

    --input: var(--background);
    --input-foreground: var(--foreground);

    /* Surfaces */
    --surface-1-bg: 21% 0.085 var(--base-hue);
    --surface-1-fg: var(--foreground);
    --surface-2-bg: 25% 0.1 var(--base-hue);
    --surface-2-fg: var(--foreground);
    --surface-3-bg: 27% 0.1 var(--base-hue);
    --surface-3-fg: var(--foreground);
    --surface-4-bg: 29% 0.4 var(--base-hue);
    --surface-4-fg: var(--foreground);
  }
}
